.logo {
	margin-top: -20px;
	margin-left: 5px;
	padding-top: 0px;
	padding-left: 13px;
  	height: 100px;
  	width: 120px;
}
.Title {
  	color: white;
  	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 60px;
	margin-top: -87px;
	padding-bottom: 50px;
}
.Demo {
  	color: white;
	background-color: lightblue;
}
table {
	border: 2px solid lightblue;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}
th {
	color: white;
 	border: 2px solid lightblue;
	width: 150px;
	height: 30px;
}
.hobbiesTable {
	color: white;
 	border: 2px solid lightblue;
	white-space: nowrap;
	width: 360px;
}
.tableButton {
	color: white;
	background-color: black;
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 3px;
	border-radius: 8px;
	border: 2px solid lightblue;
}
.newUser {
	width: 150px;
	margin-left: 900px;
	background-color: black;
	color: white;
	border: 2px solid lightblue;
	border-radius: 8px;
}
.backToZipCodes {
	margin-left: 715px;
	background-color: black;
	color: white;
	border: 2px solid lightblue;
	border-radius: 8px;
}